input[type="submit"] {
  font-size: 1.1em;
  border: 1px solid rgb(0,188,212);
  border-radius: 4px;
  text-transform:none;
  line-height: 0;
  padding: 1.2em;

}

.signup-wrapper {
  margin: 4em 0;
}
